
<!-- Left Sidebar Start -->
<div class="leftside-menu" style="padding-top: 30px;" >

    <div class="leftside-menu" style="padding-top: 30px;">
    
        <!-- LOGO -->
        <a href="index.html" class="logo text-center logo-light">
            <span class="logo-lg mt-3">
                <h1 class="text-white">Navapeint</h1>
            </span>
            
        </a>
    
        <div class="h-100 mt-5" id="leftside-menu-container" data-simplebar>
    
            <!--- Sidemenu -->
            <ul class="side-nav mt-5">
    
             
    
                <!-- Gestion des catégories -->
                <li class="side-nav-item mb-2 mt-3" style="margin-left: 20px;">
                    <a [routerLink]="['/dashboard/listproduit']">
                        <i class="uil-users"></i>
                        <span class="text-white font-weight-bold" style="font-size: 18px;">Liste des produit</span>
                    </a>
                </li>
                
            
                <li class="side-nav-item mb-2 mt-3" style="margin-left: 20px;">
                    <a [routerLink]="['/dashboard/feedback']">
                        <i class="uil-users"></i>
                        <span class="text-white font-weight-bold" style="font-size: 18px;">Feedback</span>
                    </a>
                </li>

                <li class="side-nav-item mb-2 mt-3" style="margin-left: 20px;">
                    <a [routerLink]="['/dashboard/couleur']">
                        <i class="uil-users"></i>
                        <span class="text-white font-weight-bold" style="font-size: 18px;">Liste des couleur</span>
                    </a>
                </li>

                <li class="side-nav-item mb-2 mt-3" style="margin-left: 20px;">
                    <a [routerLink]="['/dashboard/historiquecommande']">
                        <i class="uil-users"></i>
                        <span class="text-white font-weight-bold" style="font-size: 18px;">historique commande</span>
                    </a>
                </li>
                <!-- Gestion des couleurs -->
                
            </ul>
    
    
        </div>
        <!-- Sidebar -left -->
    
    </div>
    <!-- Left Sidebar End -->
    